<h1>LOGIN SECTION</h1>

<form action="/login" method="POST" id="form">
  <label for="username">User Name: </label>
  <input input="text" name="username" require>

  <label for="password">Password: </label>
  <input input="password" name="password" require>
  {{#if errorMessages}}
  <div class="error-message">{{ errorMessages }}</div>
  {{/if}}
  <p>
    <button type="submit">login</button></p>
  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
  <p><a href="/">Go back</a></p>
</form>