<h2>Log in</h2>
<p>Please log in with your username and password or <a href="/auth/signup">sign up</a> if you still don't have an account.</p>
<form action="/auth/login" method="POST">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" required placeholder="Username">
  <label for="password"></label>
  <input type="password" name="password" id="password" required placeholder="Password">
  <button type="submit">Log in</button>
</form>