<!--Formulario sigup-->
<form id="form" action="/auth/signup" method="POST">
    <label for="username">Username</label>
    <br>

    <input type="text" name="username" placeholder="Your username">

    <label for="password">Password</label>
    <br>

    <input type="password" name="password" placeholder="********">

    <button type="submit">Create account </button>

    <p class="account-message"> Have an account? <a href="auth/login">Login</a>
    </p>
</form>

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}