<h2>Sign up</h2>
<form action="/auth/signup" method="POST">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" required placeholder="Username">
  <label for="password"></label>
  <input type="password" name="password" id="password" required placeholder="Password">
  <button type="submit">Sign up</button>
</form>
