<h1>Sign in</h1>

<form method="POST" action="/auth/signup">

  <div class="field">
    <label>Username: </label>
    <input type="text" name="username" />
  </div>

  <div class="field">
    <label>Password: </label>
    <input type="password" name="password" id="pass" />
    <meter max="4" id="password-strength-meter"></meter>
    <p id="password-strength-text"></p>
  </div>

  <div class="field submit">
    <button type="submit">Sign up</button>
  </div>
</form>

{{> flash}}