<h1>User created please login to enjoy our website<h1>
   {{#if info}}
  <div class="info"><h2>{{infoMessages}}</h2></div>
  {{/if}}
<img src="images/signupcat.jpg">
<h3 ><a href="/login">User Created please try to login</a></H3>