<h1>Welcome</h1>

<div>
  <a href="/auth/signup">Signup</a>
</div>
<div>
  <a href="/auth/login">Login</a>
</div>

<form action="/auth/logout" method="POST">
  <button type="submit">Logout</button>
</form>