<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
  <div><a href="/create">Create Account</a></div>
  <div><a href="/login">Go to LogIn</a></div>

  <div><a href="/users/admin">Go to Admin</a></div>
</div>