<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p> <a href="./auth/signup" rel="noopener noreferrer"> registrate</a> </p>
<p> <a href="./auth/login" rel="noopener noreferrer"> logeate</a> </p>
<p> <a href="./auth/logout" rel="noopener noreferrer"> logout</a> </p>