<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if user}}
<ul>
    <li>
        <form action="/auth/logout" method="POST">
            <button type="submit">{{user.username}} Logout</button>
        </form>
    </li>
    {{else}}
    <li><a href="/auth/signup">Sign up </a></li>
    <li><a href="/auth/login"> Login</a></li>
</ul>
{{/if}}