<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body class="body-container">
  
  <nav>
    <h1 class="app-name"><a href="/">Basic-Auth</a></h1>
    <ul class="nav-bar">
      <li><a href="/private/main">Main</a></li>
      <li><a href="/private/private">Private</a></li>
      <li><a href="/users/signup">Signup</a></li>
      <li><a href="/users/signin">Signin</a></li>
      <li><a href="/users/signout">Signout</a></li>
    </ul>
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>