

<section>
    <form action="/auth/login" method="POST">
        <label>Username:
            <input type="text" name="username" id="username" required placeholder="Username">
        </label>
        <label>Password:
            <input type="password" name="password" id="password" required placeholder="Password">
        </label>
        <button type="submit">Signup!!</button>
    </form>
</section>
<a href="/">back</a>