<h2>Private page</h2>
<p>Welcome {{currentUser.username}} </p>

<h3>D10S</h3>
<iframe src="https://giphy.com/embed/1k1ytX3sX9wZheCpos" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/sporzaredactie-maradona-sporza-fck-you-1k1ytX3sX9wZheCpos">via GIPHY</a></p>