<h1>It's 2am and you're on iteration 3/16 of your lab.</h1>
<iframe src="https://giphy.com/embed/yhRnl31SmMec" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/creepy-bug-eyes-yhRnl31SmMec">via GIPHY</a></p>