<h2>Private page</h2>

<p>Hello, {{currentUser.username}}</p>
<iframe src="https://giphy.com/embed/ASd0Ukj0y3qMM" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/the-simpsons-hello-hi-ASd0Ukj0y3qMM">via GIPHY</a></p>

<h3>This page is only for you, enjoy it ;)</h3>