<div id="container">
    <h2>You are in a session! {{username}}</h2>
</div>
<iframe src="https://giphy.com/embed/GHTwlFLITq7v2" width="480" height="271" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/disney-walt-disney-animation-studios-the-emperors-new-groove-llama-GHTwlFLITq7v2"></a></p>
<a href="/logout">Logout</a>