<h1>Signup</h1>
<form action="/auth/signup" method="POST">
  <label for="username">Username</label>
  <input autocomplete="off" type="text" name="username" id="username" required>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required>
  <button type="submit">Signup</button>
</form>