<h2>Sign up</h2>

<form action="/users/signup" method="POST">
<label for="name">Username</label>
<input type="text" name="username" id="name" required>
<label for="password">Password</label>
<input type="password" name="password" id="password" minlength="8" required>
<button type="submit">Create user</button>
</form>