<h1>SIGN IN</h1>
<form action="/users/signin" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password" name="password">Password</label>
  <input type="password" name="password">
  <button type="submit">Sign In</button>
</form>
<p>{{error}}</p>