<div class="index">
  <h1>SIGN UP</h1>
  <form action="/users/signup" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username">
    <label for="password" name="password">Password</label>
    <input type="password" name="password">
    <button type="submit" class="btn">Sign In</button>
  </form>
</div>
<div class="error">
  <p>{{error}}</p>
</div>