<form action="/auth/signup" method="POST">
<h1>Sign Up</h1>
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" required placeholder="Username">
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required placeholder="Password">
  <button type="submit">Sign Up</button>
</form>